*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  padding: 0.2em 1em;
}

body {
  padding: 1em;
}

header,
article {
  max-width: 920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 2px;
  margin: 1em auto;
}

article {
  padding: 1em;
  gap: 1em;
}

.canvas-container {
  position: relative;
  width: 250px;
  height: 350px;
}

canvas {
  border: 1px solid black;
}

canvas,
.canvas-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 350px;
}

canvas {
  z-index: 1;
}


